<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  {% block header %}
  This is the default content
  {% endblock %}
</head>
<body>
  <h1>Brand and logo</h1>
  <hr>
  {% block content %}
  This is the default content
  {% endblock %}
  <hr>
  Footer
</body>
</html>