{% extends "layout.njk" %}

{% block content %}
<h2>Registration</h2>
<form action="" method="POST">
  UserName: <input type="text" name="username"> <br>
  Email: <input type="text" name="email"> <br>
  Password: <input type="password" name="password"> <br>
  <input type="submit" value="reg">
</form>
{% endblock %}